<b>Head Lookat Mouse</b>
<br/>

<button id="toggleEyeButton" class="btn btn-primary form-control" onclick="toggleEyeMovement()">Start</button>


<script>
    var eyeLeftBone = null;
    var eyeRightBone = null;
    var headBone = null;
    var HeadLookAtAnimationGroup;
    var currentHeadboneKeys = [];
    var headtransformNode;
    var lookAtCtl;

    // Function to Generate Random Rotation Values


    function toggleEyeMovement() {
        if (HeadMesh) {
            eyeLookat = !eyeLookat;
            if (eyeLookat) {
                starteyeButton();

            } else {
                stopeyeButton();

            }
        }
    }

    function starteyeButton() {
        eyeLookat = true;

        var buttonElement = document.getElementById("toggleEyeButton");
        buttonElement.blur();
        buttonElement.innerText = "Stop";
        buttonElement.classList.remove("btn-primary");
        buttonElement.classList.add("btn-danger");

        if (headBone == null) {
            var skeleton = scene.skeletons[0];
            // Find bones by name
            skeleton.bones.forEach(bone => {
                switch (bone.name) {
                    case "LeftEye":
                        eyeLeftBone = bone;
                        break;
                    case "RightEye":
                        eyeRightBone = bone;
                        break;
                    case "Head":
                        headBone = bone;
                        break;
                }
            });

            headtransformNode = headBone.getTransformNode();
            var title = "HeadLookAt";

            if (HeadLookAtAnimationGroup) {
                HeadLookAtAnimationGroup.dispose();
                headtransformNode.animations.dispose();
            }

            // Create a new FaceAnimationGroup
            HeadLookAtAnimationGroup = new BABYLON.AnimationGroup(HeadMesh.name + "_talk_" + title);

            HeadLookAtAnimationGroup.playOrder = 4;
            HeadLookAtAnimationGroup.enableBlending = true;

            currentHeadboneKeys = [];

            updateObjectNamesFromScene();
        }
    }

    function makeHeadLookAt(targetPosition) {
        var canvasHeight = canvas.clientHeight;
        var mouseYRatio = event.clientY / canvasHeight;  // This gives a value between 0 (top) and 1 (bottom)

        var lookUpAmount = 1; // You can adjust this value to control how much the head looks up or down
        targetPosition.y = headtransformNode.position.y + (0.5 - mouseYRatio) * lookUpAmount * -1;

        var dir = targetPosition.subtract(headtransformNode.position).normalize();
        var up = new BABYLON.Vector3(0, 1, 0);  // Up direction
        var right = BABYLON.Vector3.Cross(up, dir).normalize();
        up = BABYLON.Vector3.Cross(dir, right).normalize();

        var worldMatrix = BABYLON.Matrix.FromValues(
            right.x, up.x, dir.x, 0,
            right.y, up.y, dir.y, 0,
            right.z, up.z, dir.z, 0,
            0, 0, 0, 1
        );

        var currentQuaternion = headtransformNode.rotationQuaternion;
        var targetQuaternion = BABYLON.Quaternion.FromRotationMatrix(worldMatrix);

        headtransformNode.rotationQuaternion = BABYLON.Quaternion.Slerp(currentQuaternion, targetQuaternion, 0.1); // Adjust the 0.1 value for desired smoothness
    }


    canvas.addEventListener("mousemove", function (event) {
        if (eyeLookat) {
            var pickInfo = scene.pick(scene.pointerX, scene.pointerY);
            if (pickInfo.hit) {
                var targetPosition = pickInfo.pickedPoint;
                //     targetPosition.y = headtransformNode.position.y;

                makeHeadLookAt(targetPosition);

                if (playing) {
                    // record animation
                    // each frame set keyframe for headBone
                    var frame = millisecondsToFrames(timeline.getTime());
                    currentHeadboneKeys.push({frame: frame, value: headtransformNode.rotationQuaternion});
                }
            }
        }
    });


    function stopeyeButton() {
        eyeLookat = false;
        var buttonElement = document.getElementById("toggleEyeButton");
        buttonElement.innerText = "Start";
        buttonElement.classList.remove("btn-danger");
        buttonElement.classList.add("btn-primary");

        GenerateHeadboneKeyframe();
    }

    function GenerateHeadboneKeyframe() {
        if (currentHeadboneKeys.length > 0) {
            currentHeadboneKeys = removeDuplicateFrames(currentHeadboneKeys);

            var headlookat_Animation = new BABYLON.Animation(
                "headlookat_animation",
                "rotation",
                frameRate,
                BABYLON.Animation.ANIMATIONTYPE_VECTOR3
            );

            // Interpolate keyframes for smoother animation
            var easingFunction = new BABYLON.QuadraticEase();
            easingFunction.setEasingMode(BABYLON.EasingFunction.EASINGMODE_EASEINOUT);
            headlookat_Animation.setEasingFunction(easingFunction);

            // Create animation keys for the head bone rotationQuaternion

            var keys = [];
            for (var i = 0; i < currentHeadboneKeys.length; i++) {
                var frame = currentHeadboneKeys[i].frame;
                var value = currentHeadboneKeys[i].value;

                keys.push({
                    frame: frame,
                    value: value
                });
            }
            headlookat_Animation.setKeys(keys);

            headtransformNode.animations.push(headlookat_Animation);
            // Apply animation to the head bone
            HeadLookAtAnimationGroup.addTargetedAnimation(headlookat_Animation, headtransformNode);
            HeadLookAtAnimationGroup.normalize(0, currentHeadboneKeys[currentHeadboneKeys.length - 1].frame);


            HeadLookAtapplyToTimeline();
        }
    }


    function HeadLookAtapplyToTimeline() {

        if (timeline) {
            const currentModel = timeline.getModel();
            const HeadLookAtRow = currentModel.rows.find(row => row.title === 'HeadLookAt');

            HeadLookAtRow.keyframes = [
                {val: framesToMilliseconds(HeadLookAtAnimationGroup.from)},
                {val: framesToMilliseconds(HeadLookAtAnimationGroup.to)}
            ];
            timeline.setModel(currentModel);

            // Generate outline list menu
            generateHTMLOutlineListNodes(currentModel.rows);
        }
    }

    function removeDuplicateFrames(keys) {
        var uniqueFrames = [];
        var seenFrames = {};

        for (var i = 0; i < keys.length; i++) {
            var frame = keys[i].frame;
            if (!seenFrames[frame]) {
                uniqueFrames.push(keys[i]);
                seenFrames[frame] = true;
            }
        }

        return uniqueFrames;
    }

    document.addEventListener("keydown", function (event) {
        if (event.key === "Escape") {
            stopeyeButton();
        }
    });
</script>