<b>Head Lookat Mouse</b>
<br/>
<input id="allow_eye_lookat" type="checkbox" checked>
<label>Eye Look at</label>
<input id="allow_head_lookat" type="checkbox">
<label>Head Look at</label>
<button id="toggleHeadButton" class="btn btn-primary form-control" onclick="toggleHeadMovement()">Start</button>


<script>
    var eyeLeftBone = null;
    var eyeRightBone = null;
    var headBone = null;
    var HeadLookAtAnimationGroup;
    var headtransformNode;
    var lookAtCtl;
    var HeadLookat = false;


    var currentHeadboneKeys = [];
    var currentLeftEyeKeys = [];
    var currentRightEyeKeys = [];

    // Function to Generate Random Rotation Values
    function toggleHeadMovement() {
        if (HeadMesh) {
            HeadLookat = !HeadLookat;
            if (HeadLookat) {
                startHeadButton();

            } else {
                stopHeadButton();

            }
        }
    }

    function startHeadButton() {
        HeadLookat = true;

        var buttonElement = document.getElementById("toggleHeadButton");
        buttonElement.blur();
        buttonElement.innerText = "Stop";
        buttonElement.classList.remove("btn-primary");
        buttonElement.classList.add("btn-danger");

        if (headBone == null) {
            var skeleton = scene.skeletons[0];
            // Find bones by name
            skeleton.bones.forEach(bone => {
                switch (bone.name) {
                    case "LeftEye":
                        eyeLeftBone = bone;
                        break;
                    case "RightEye":
                        eyeRightBone = bone;
                        break;
                    case "Head":
                        headBone = bone;
                        break;
                }
            });

            headtransformNode = headBone.getTransformNode();
            var title = "HeadLookAt";

            if (HeadLookAtAnimationGroup) {
                HeadLookAtAnimationGroup.dispose();
                headtransformNode.animations.dispose();
            }

            // Create a new FaceAnimationGroup
            HeadLookAtAnimationGroup = new BABYLON.AnimationGroup(HeadMesh.name + "_talk_" + title);

            HeadLookAtAnimationGroup.playOrder = 4;
            HeadLookAtAnimationGroup.enableBlending = true;

            currentHeadboneKeys = [];

            updateObjectNamesFromScene();
        }
    }

    function makeHeadLookAt(targetPosition) {
        var canvasHeight = canvas.clientHeight;
        var mouseYRatio = event.clientY / canvasHeight;  // This gives a value between 0 (top) and 1 (bottom)

        var lookUpAmount = 1; // You can adjust this value to control how much the head looks up or down
        targetPosition.y = headtransformNode.position.y + (0.5 - mouseYRatio) * lookUpAmount * -1;

        var dir = targetPosition.subtract(headtransformNode.position).normalize();
        var up = new BABYLON.Vector3(0, 1, 0);  // Up direction
        var right = BABYLON.Vector3.Cross(up, dir).normalize();
        up = BABYLON.Vector3.Cross(dir, right).normalize();

        var worldMatrix = BABYLON.Matrix.FromValues(
            right.x, up.x, dir.x, 0,
            right.y, up.y, dir.y, 0,
            right.z, up.z, dir.z, 0,
            0, 0, 0, 1
        );

        var currentQuaternion = headtransformNode.rotationQuaternion;
        var targetQuaternion = BABYLON.Quaternion.FromRotationMatrix(worldMatrix);

        headtransformNode.rotationQuaternion = BABYLON.Quaternion.Slerp(currentQuaternion, targetQuaternion, 0.1); // Adjust the 0.1 value for desired smoothness
    }

    function makeEyesLookAt(targetPosition) {
        // Calculate the direction towards the target
        var dir = targetPosition.subtract(eyeLeftBone.getTransformNode().position).normalize();
        var up = new BABYLON.Vector3(0, 1, 0);  // Up direction
        var right = BABYLON.Vector3.Cross(up, dir).normalize();
        up = BABYLON.Vector3.Cross(dir, right).normalize();

        var worldMatrix = BABYLON.Matrix.FromValues(
            right.x, up.x, dir.x, 0,
            right.y, up.y, dir.y, 0,
            right.z, up.z, dir.z, 0,
            0, 0, 0, 1
        );

        var currentLeftEyeQuaternion = eyeLeftBone.getTransformNode().rotationQuaternion;
        var targetLeftEyeQuaternion = BABYLON.Quaternion.FromRotationMatrix(worldMatrix);
        var currentRightEyeQuaternion = eyeRightBone.getTransformNode().rotationQuaternion;
        var targetRightEyeQuaternion = BABYLON.Quaternion.FromRotationMatrix(worldMatrix);

        eyeLeftBone.getTransformNode().rotationQuaternion = BABYLON.Quaternion.Slerp(currentLeftEyeQuaternion, targetLeftEyeQuaternion, 0.1);
        eyeRightBone.getTransformNode().rotationQuaternion = BABYLON.Quaternion.Slerp(currentRightEyeQuaternion, targetRightEyeQuaternion, 0.1);
    }


    canvas.addEventListener("mousemove", function (event) {
        if (HeadLookat) {
            var pickInfo = scene.pick(scene.pointerX, scene.pointerY);
            if (pickInfo.hit) {
                var targetPosition = pickInfo.pickedPoint;

                if (document.getElementById('allow_head_lookat').checked) {
                    makeHeadLookAt(targetPosition);
                }

                if (document.getElementById('allow_eye_lookat').checked) {
                    makeEyesLookAt(targetPosition);
                }

                if (playing) {
                    // record animation
                    // each frame set keyframe for headBone
                    var frame = millisecondsToFrames(timeline.getTime());

                    if (document.getElementById('allow_head_lookat').checked) {
                        currentHeadboneKeys.push({frame: frame, value: headtransformNode.rotationQuaternion});
                    }

                    if (document.getElementById('allow_eye_lookat').checked) {
                        currentLeftEyeKeys.push({
                            frame: frame,
                            value: eyeLeftBone.getTransformNode().rotationQuaternion
                        });
                        currentRightEyeKeys.push({
                            frame: frame,
                            value: eyeRightBone.getTransformNode().rotationQuaternion
                        });
                    }
                }
            }
        }
    });


    function stopHeadButton() {
        HeadLookat = false;
        var buttonElement = document.getElementById("toggleHeadButton");
        buttonElement.innerText = "Start";
        buttonElement.classList.remove("btn-danger");
        buttonElement.classList.add("btn-primary");

        GenerateHeadboneKeyframe();
        GenerateEyeBoneKeyframes();
    }

    function GenerateHeadboneKeyframe() {
        if (currentHeadboneKeys.length > 0) {
            currentHeadboneKeys = removeDuplicateFrames(currentHeadboneKeys);

            var headlookat_Animation = new BABYLON.Animation(
                "headlookat_animation",
                "rotation",
                frameRate,
                BABYLON.Animation.ANIMATIONTYPE_VECTOR3
            );

            // Interpolate keyframes for smoother animation
            var easingFunction = new BABYLON.QuadraticEase();
            easingFunction.setEasingMode(BABYLON.EasingFunction.EASINGMODE_EASEINOUT);
            headlookat_Animation.setEasingFunction(easingFunction);

            // Create animation keys for the head bone rotationQuaternion

            var keys = [];
            for (var i = 0; i < currentHeadboneKeys.length; i++) {
                var frame = currentHeadboneKeys[i].frame;
                var value = currentHeadboneKeys[i].value;

                keys.push({
                    frame: frame,
                    value: value
                });
            }
            headlookat_Animation.setKeys(keys);

            headtransformNode.animations.push(headlookat_Animation);
            // Apply animation to the head bone
            HeadLookAtAnimationGroup.addTargetedAnimation(headlookat_Animation, headtransformNode);
            HeadLookAtAnimationGroup.normalize(0, currentHeadboneKeys[currentHeadboneKeys.length - 1].frame);


            HeadLookAtapplyToTimeline();
        }
    }

    function GenerateEyeBoneKeyframes() {
        if (currentLeftEyeKeys.length > 0 && currentRightEyeKeys.length > 0) {
            currentLeftEyeKeys = removeDuplicateFrames(currentLeftEyeKeys);
            currentRightEyeKeys = removeDuplicateFrames(currentRightEyeKeys);

            var leftEyeAnimation = new BABYLON.Animation(
                "leftEye_lookat_animation",
                "rotationQuaternion",
                frameRate,
                BABYLON.Animation.ANIMATIONTYPE_QUATERNION
            );

            var rightEyeAnimation = new BABYLON.Animation(
                "rightEye_lookat_animation",
                "rotationQuaternion",
                frameRate,
                BABYLON.Animation.ANIMATIONTYPE_QUATERNION
            );

            // Interpolate keyframes for smoother animation
            var easingFunction = new BABYLON.QuadraticEase();
            easingFunction.setEasingMode(BABYLON.EasingFunction.EASINGMODE_EASEINOUT);
            leftEyeAnimation.setEasingFunction(easingFunction);
            rightEyeAnimation.setEasingFunction(easingFunction);

            var leftEyeKeys = [];
            var rightEyeKeys = [];

            for (var i = 0; i < currentLeftEyeKeys.length; i++) {
                leftEyeKeys.push({
                    frame: currentLeftEyeKeys[i].frame,
                    value: currentLeftEyeKeys[i].value
                });
            }

            for (var i = 0; i < currentRightEyeKeys.length; i++) {
                rightEyeKeys.push({
                    frame: currentRightEyeKeys[i].frame,
                    value: currentRightEyeKeys[i].value
                });
            }

            leftEyeAnimation.setKeys(leftEyeKeys);
            rightEyeAnimation.setKeys(rightEyeKeys);

            eyeLeftBone.getTransformNode().animations.push(leftEyeAnimation);
            eyeRightBone.getTransformNode().animations.push(rightEyeAnimation);

            // Apply animation to the eye bones
            HeadLookAtAnimationGroup.addTargetedAnimation(leftEyeAnimation, eyeLeftBone.getTransformNode());
            HeadLookAtAnimationGroup.addTargetedAnimation(rightEyeAnimation, eyeRightBone.getTransformNode());

            HeadLookAtAnimationGroup.normalize(0, Math.max(currentLeftEyeKeys[currentLeftEyeKeys.length - 1].frame, currentRightEyeKeys[currentRightEyeKeys.length - 1].frame));

            // Adjust this function to handle eye bone keyframes as well
          //  HeadLookAtapplyToTimeline();
        }
    }


    function HeadLookAtapplyToTimeline() {

        if (timeline) {
            const currentModel = timeline.getModel();
            const HeadLookAtRow = currentModel.rows.find(row => row.title === 'HeadLookAt');

            HeadLookAtRow.keyframes = [
                {val: framesToMilliseconds(HeadLookAtAnimationGroup.from)},
                {val: framesToMilliseconds(HeadLookAtAnimationGroup.to)}
            ];
            timeline.setModel(currentModel);

            // Generate outline list menu
            generateHTMLOutlineListNodes(currentModel.rows);
        }
    }

    function removeDuplicateFrames(keys) {
        var uniqueFrames = [];
        var seenFrames = {};

        for (var i = 0; i < keys.length; i++) {
            var frame = keys[i].frame;
            if (!seenFrames[frame]) {
                uniqueFrames.push(keys[i]);
                seenFrames[frame] = true;
            }
        }

        return uniqueFrames;
    }

    document.addEventListener("keydown", function (event) {
        if (event.key === "Escape") {
            stopHeadButton();
        }
    });
</script>