<ul class="nav nav-tabs w-100" id="myTab " role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="Inspector-tab" data-bs-toggle="tab" data-bs-target="#Inspector"
            type="button" role="tab" aria-controls="Inspector" aria-selected="true">Inspector</button>
  </li>
</ul>
<div class="tab-content" id="myTabContentInspector">
  <div class="tab-pane fade show active" id="Inspector" role="tabpanel" aria-labelledby="Hierarchy-tab">Inspector ...</div>
</div>