<div class="modal fade" id="SetBaseModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="SetBaseModal" aria-hidden="true">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Set Base Model</h5>
            </div>
            <div class="modal-body">
                <label>Head Mesh</label>
                <select id="setHeadMesh" class="form-control">
                    <option value="">none</option>
                </select>

                <label>Teeth Mesh</label>
                <select id="setTeethMesh" class="form-control">
                    <option value="">none</option>
                </select>

                <label>Body Mesh</label>
                <select id="setBodyMesh" class="form-control">
                    <option value="">none</option>
                </select>

                <label>eye left Mesh</label>
                <select id="setEyeLeftMesh" class="form-control">
                    <option value="">none</option>
                </select>

                <label>eye right Mesh</label>
                <select id="setEyeRightMesh" class="form-control">
                    <option value="">none</option>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveSelectedBaseModel()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>


    function OpenSetBaseModal() {
        // Call the function to populate dropdowns
        populateDropdowns();
        jQuery('#SetBaseModal').modal('show');

    }

    // Function to populate dropdowns with mesh names and IDs
    function populateDropdowns() {
        let objectNames = scene.meshes.map(function (mesh) {
            return {id: mesh.uniqueId, name: mesh.name};
        });

        // Function to find the nearest match for the given keyword in mesh names
        function findNearestMatch(keyword) {
            const lowerCaseKeyword = keyword.toLowerCase();
            return objectNames.find(function (object) {
                return object.name.toLowerCase().includes(lowerCaseKeyword);
            });
        }

        // Function to create option element with specified value and text
        function createOption(value, text) {
            const option = document.createElement('option');
            option.value = value;
            option.text = text;
            return option;
        }

        // Add "none" option as the first item in each dropdown
        function addNoneOption(dropdownId) {
            const dropdown = document.getElementById(dropdownId);
            dropdown.appendChild(createOption('', 'none'));
        }

        // Set dropdown values and add "none" option
        function setDropdownAndAddNoneOption(dropdownId, keyword) {
            const nearestMatch = findNearestMatch(keyword);
            const dropdown = document.getElementById(dropdownId);

            dropdown.innerHTML = objectNames.map(function (object) {
                return `<option value="${object.id}">${object.name}</option>`;
            }).join('');

            addNoneOption(dropdownId);

            if (nearestMatch) {
                dropdown.value = nearestMatch.id;
            }
        }

        // Populate dropdowns and set values
        setDropdownAndAddNoneOption("setHeadMesh", "head");
        setDropdownAndAddNoneOption("setTeethMesh", "teeth");
        setDropdownAndAddNoneOption("setBodyMesh", "body");
        setDropdownAndAddNoneOption("setEyeLeftMesh", "eyeleft");
        setDropdownAndAddNoneOption("setEyeRightMesh", "eyeright");
    }



    function SaveSelectedBaseModel() {
        var selectedHeadMeshId = document.getElementById("setHeadMesh").value;
        var selectedTeethMeshId = document.getElementById("setTeethMesh").value;
        var selectedBodyMeshId = document.getElementById("setBodyMesh").value;
        var selectedEyeLeftMeshId = document.getElementById("setEyeLeftMesh").value;
        var selectedEyeRightMeshId = document.getElementById("setEyeRightMesh").value;

        // Retrieve meshes using unique IDs
        HeadMesh = scene.getMeshByUniqueID(parseInt(selectedHeadMeshId));
        TeethMesh = scene.getMeshByUniqueID(parseInt(selectedTeethMeshId));
        BodyMesh = scene.getMeshByUniqueID(parseInt(selectedBodyMeshId));
        EyeLeftMesh = scene.getMeshByUniqueID(parseInt(selectedEyeLeftMeshId));
        EyeRightMesh = scene.getMeshByUniqueID(parseInt(selectedEyeRightMeshId));

        jQuery('#SetBaseModal').modal('hide');

    }


</script>